body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Full viewport height */
    margin: 0;
    font-family: Arial, sans-serif;
}
 .back-video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    height: 100%;
}
.navbar {
    position: absolute-bottom;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background-color: rgba(247, 250, 246, 0.65);
    z-index: 1000;
}

@media (min-aspect-ratio: 16/9) {
    .back-video {
        width: 100%;
        height: auto;

    }
}

@media (max-aspect-ratio: 16/9) {
    .back-video {
        width: auto;
        height: 100%;
    }
}

.navbar-brand {
    font-size: 2rem;
    font-weight: bold;
    color: rgba(33, 67, 33, 0.731) !important;
    font-family: ;
}

.nav-link {
    font-weight: 500;
    color: #264653;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #e9c46a;
    text-decoration: none;
}
}


h1 {
    text-align: center;
    margin-top: 2rem;
}
footer {
    color: #e9c46a;
