body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f8f7;
}

.navbar {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
}

.navbar-brand {
    font-size: 2rem;
    font-weight: bold;
    color: #29c1b0 !important;
}

.nav-link {
    font-weight: 500;
    color: #264653;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #e9c46a;
    text-decoration: underline;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
.card {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
    width: 30rem;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #fff;
    border-radius: 8px;
}
h1 {
    text-align: center;
    margin-top: 2rem;
}
.filters {
    margin-bottom: 2rem;
    font-family: 'Arial', sans-serif;
    text-align: center;
}

