body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Full viewport height */
    margin: 0;
    font-family: Arial, sans-serif;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: rgba(247, 250, 246, 0.65);
  z-index: 1000;
}

.nav-link {
  font-weight: 500;
  color: #264653;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #e9c46a;
  text-decoration: none;
}

.card {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 30rem;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #fff;
  border-radius: 8px;
}
h1 {
  text-align: center;
  margin-top: 8rem;
}
footer {
    color: #e9c46a;
}